*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sana-serif;
    }
    .curved{
        width:100%;
        height:100vh;
        position:absolute;
        top:30%;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items:center;
        overflow: hidden;
        color: white;
    
    }
    .curved::before{
        content:" ";
        position: absolute;
        top:35%;
        left:18%;
        width:65%;
        height:40%;
        background: linear-gradient(to right,royalblue,tomato);
        z-index:-1;
        border-radius:0 0 50%/ 0 0 100% 100%;
        transform: scaleX(1.5);
    }
    .curved.content{
        width:900px;
        color:white;
        text-align:center;
    
    }